{% extends 'base.html' %} 

{% block content %}
    <h2>Últimas Notícias</h2>
    <div class="noticias-container">
        {% for noticia in lista_de_noticias %}
            <div class="noticia-card">
                <h3><a href="{% url 'detalhe_noticia' noticia.id %}">{{ noticia.titulo }}</a></h3>
                <p>Por: {{ noticia.autor.username }} em {{ noticia.data_publicacao|date:"d/m/Y" }}</p>
            </div>
        {% empty %}
            <p>Nenhuma notícia foi cadastrada ainda.</p>
        {% endfor %}
    </div>
{% endblock %}