/* static/css/style.css */

body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #003366; /* Um azul escuro, por exemplo */
    color: white;
    padding: 20px;
    text-align: center;
}

.noticia-card {
    border: 1px solid #ccc;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
}