{% extends "noticias/base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="container" style="max-width: 400px; margin-top: 40px;">
    <h2>Entrar</h2>

    {% if form.errors %}
        <p style="color:red;">Usuário ou senha incorretos.</p>
    {% endif %}

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Entrar</button>
    </form>

    <p style="margin-top:10px;">
        Não tem conta?
        <a href="{% url 'signup' %}">Criar conta</a>
    </p>
</div>
{% endblock %}
