name: Build and Deploy to Azure Web App

on:
  push:
    branches:
      - prod
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
    - uses: actions/checkout@v4

    - name: Set up Python version
      uses: actions/setup-python@v5
      with:
        python-version: '3.11'

    - name: Cache pip dependencies
      uses: actions/cache@v4
      with:
        path: ~/.cache/pip
        key: ${{ runner.os }}-pip-${{ hashFiles('requirements.txt') }}
        restore-keys: |
          ${{ runner.os }}-pip-

    - name: Install dependencies
      run: |
        python -m venv venv
        source venv/bin/activate
        pip install -r requirements.txt
    
    - name: Run Django Automated Tests
      env:
        SECRET_KEY: ${{ secrets.DJANGO_SECRET_KEY }}
      run: |
        source venv/bin/activate
        python manage.py test

    - name: Collect static files (CSS, JS)
      run: |
        source venv/bin/activate
        python manage.py collectstatic --no-input

    - name: Upload artifact for deployment
      uses: actions/upload-artifact@v4
      with:
        name: python-app
        path: |
          ${{ github.workspace }}
          !${{ github.workspace }}/venv/
          !${{ github.workspace }}/db.sqlite3

  deploy:
    runs-on: ubuntu-latest
    needs: build
    permissions:
      id-token: write
      contents: read

    steps:
    - name: Download artifact from build job
      uses: actions/download-artifact@v4
      with:
        name: python-app
      
    - name: Login to Azure
      uses: azure/login@v2
      with:
        client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_3FF7DCE8CF924666B8EE3B8BE3DB21D1 }}
        tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_8ADB97B1F9E24A6599A8E4E144482464 }}
        subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_B895A88D5C014B05BA5CA0CE2E3CA3F2 }}

    - name: 'Deploy to Azure Web App'
      uses: azure/webapps-deploy@v3
      id: deploy-to-webapp
      with:
        app-name: 'Projetos2G11'
        slot-name: 'Production'

        startup-command: 'python manage.py migrate && gunicorn --bind=0.0.0.0 --timeout 600 projetos_2_g11.wsgi'